:root {
    --colour-primary-lighter: #14a0d3;
    --colour-primary-light: #14a0d3;
    --colour-primary-default: #14a0d3;
    --colour-primary-dark: #14a0d3;
    --colour-primary-darker: #14a0d3;

    --colour-accent-lighter: #37464d;
    --colour-accent-light: #37464d;
    --colour-accent-default: #37464d;
    --colour-accent-dark: #37464d;
    --colour-accent-darker: #37464d;

    --colour-dark-lighter: #37464d;
    --colour-dark-light: #37464d;
    --colour-dark-default: #37464d;
    --colour-dark-dark: #37464d;
    --colour-dark-darker: #37464d;

    --colour-success-default: #53c78d;
    --colour-warning-default: #ffd166;
    --colour-danger-default: #ed2222;

    --colour-white-default: white;
    --shadow-light: rgba(0, 0, 0, 0.34);
    --shadow-med: rgba(0, 0, 0, 0.49);
    --shadow-dark: (0, 0, 0, 0.67);
    --font-sm: 0.6rem;
    --font-md: 1rem;
    --font-lg: 1.4rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;